
/* ==========================================================================
   Base styles:
   ========================================================================== */
/* Fix to include padding and border in the total width for each element */
* {
  box-sizing: border-box;
}

/* Fix for responsive images */
img {
  max-width: 100%;
}

html {
  font-size: 16px;
  transition: all .3s ease-in-out;
}

p {
  display: block;
}

body {
  position: relative;
}

#top-page {
  color: white;
  background-color: rgb(89, 89, 89);
  font-family: "Roboto Slab", sans-serif;
}

header {
  background-image: url("../img/oraclepregame2.png");
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  min-height: 100vh;
}

#underheader {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 0;
  padding-bottom: 10px;
}

nav {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  background-color: rgb(89, 89, 89);
  color: white;
  width: 100%;
  box-shadow: 0 3px 11px rgba(0, 0, 0, .2);
  transition: all .7s ease-in-out;
  display: flex;
}

nav a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 200;
  color: white;
  padding: 20px 5px 20px 5px;
  transition: all .7s ease-in-out;
  width: 100%;
}

nav img {
  display: block;
  text-align: left;
  max-width: 100%;
  max-height: 100%;
  padding-top: 2px;
  padding-bottom: 2px;
}
nav a:hover {
  color: rgb(255, 206, 13);
}

h1 {
  font-size: 80px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  display: block;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  padding-top: 20px;
}

hr {
  border: 2px solid black;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  font-style: italic;
}

h3 {
  font-family: 'Roboto', sans-serif;
  margin-top: 20px;
  margin-bottom: 5px;
}

.top {
  padding-top: 90px;
  padding-bottom: 20px;
  max-width: 75%;
  margin: 0 auto;
  text-align: center;

}

.scrolled {
position: fixed;
z-index: 30;
top: 0;
}

.content {
  font-family: 'Roboto Slab', sans-serif;
}

.wrapper {
  position: relative;
}

.between {
  display: block;
  margin: auto;
  width: 100%;
  z-index: 1;

}

.main-sections {
  display: block;
  max-width: 75%;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
  z-index: 100;
}



#flexbox {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  font-family: "Roboto Slab", sans-serif;
}

.recordboxestop {
  color: white;
  background-color: rgba(89, 89, 89, .9);
  flex-basis: 30%;
  justify-content: space-around;
  padding: 0px 20px 0px 20px;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
  width: 405px;
  height: 170px;
}

.recordboxesmiddle {
  color: white;
  background-color: rgba(89, 89, 89, .9);
  flex-basis: 30%;
  justify-content: space-around;
  padding: 0px 20px 0px 20px;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
  width: 405px;
  height: 170px;
}

.recordboxesbottom {
  color: white;
  background-color: rgba(89, 89, 89, .9);
  flex-basis: 30%;
  justify-content: space-around;
  padding: 0px 20px 0px 20px;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
  width: 405px;
  height: 170px;
}

.breaks {
  display: block;
  margin: 0 auto;
  text-align: center;
  padding-right: 10px;
  padding-left: 10px;
}

.recordoverlaytop {
  position: absolute;
  background-color: rgb(255, 206, 13);
  height: 100%;
  width: 100%;
  left: -405px;
  top: 0px;
  opacity: 0;
  transition: all .7s ease-in-out;
  color: gray;
  display: flex;
  align-items: center;
}

.recordoverlaymiddle {
  position: absolute;
  background-color: rgb(255, 206, 13);
  height: 100%;
  width: 100%;
  top: -170px;
  left: 0px;
  opacity: 0;
  transition: all .7s ease-in-out;
  color: gray;
  display: flex;
  align-items: center;
}

.recordoverlaybottom {
  position: absolute;
  background-color: rgb(255, 206, 13);
  height: 100%;
  width: 100%;
  bottom: -170px;
  left: 0px;
  opacity: 0;
  transition: all .7s ease-in-out;
  color: gray;
  display: flex;
  align-items: center;
}

.recordboxestop:hover .recordoverlaytop {
  opacity: 1;
  transform: translateX(405px);
}

.recordboxesmiddle:hover .recordoverlaymiddle {
  opacity: 1;
  transform: translateY(170px);
}

.recordboxesbottom:hover .recordoverlaybottom {
  opacity: 1;
  transform: translateY(-170px);
}

.recs {
  text-align: center;
}



.recordboxestop img, .recordboxesmiddle img, .recordboxesbottom img {
  display: block;
  margin: 0 auto;
}

form {
  margin-left: 30px;
}

label, input, option, button {
  font-family: 'Roboto Slab', sans-serif;
}

select option {
  font-family: 'Roboto Slab', sans-serif;
}

button {
  border: 1.5px solid rgb(89, 89, 89);
  padding: 10px 30px 10px 30px;
  background-color: white;
  color: black;
  margin-top: 20px;
  margin-bottom: 20px;
  transition: all 250ms ease-in-out;
}

.buttonhover {
  color: rgb(255, 206, 13);
  background-color: rgba(89, 89, 89, .8);
  border: 1.5px solid rgba(89, 89, 89, 0);
}
input {
  border: 1.5px solid rgb(89, 89, 89);
  padding: 5px 20px 5px 2px;
}

#full-name, #email-address {
  margin-top: 5px;
  margin-bottom: 10px;
}

#twoxl {
  margin-bottom: 20px;
}

#citylabel {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
}

#full-name:focus, #email-address:focus, #city:focus {
  border: 1.5px solid rgb(255, 206, 13);
  outline: none;

}

.borderhighlight {
  border: 1.5px solid rgb(255, 206, 13);
}

#disclaimer {
  display: block;
  margin-left: 30px;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
}

footer {
  font-family: 'Roboto', sans-serif;
  background-color: rgb(89, 89, 89);
  color: white;
  width: 100%;
}

footer a {
  text-decoration: none;
  color: white;
  transition: all 250ms ease-in-out;
}

footer a:hover {
  color: rgb(255, 206, 13);
}

footer p {
  margin: 0;
  padding: 10px 0px 10px 10px;
}

.hamburger-icon {
  height: 64px;
  width: 64px;
  text-align: left;
  transition: all 1s ease-in-out;
  display: none;


}

.menu {
  position: fixed;
  display: block;
}

.line {
  position: absolute;
  width: 50px;
  height: 5px;
  background-color: rgb(89, 89, 89);
  opacity: 1;
  border-radius: 3px;
  align-items: center;
  transition: all .3s ease-in-out;
}

.hamburger-icon:hover {
  cursor: pointer;
}
.hamburger-icon:hover .line {
  background-color: rgb(255, 207, 13);
}
.line:nth-child(1) {
  top: 15px;
}
.line:nth-child(2) {
  top: 30px;
}
.line:nth-child(3) {
  top: 45px;
}

#hamburger-icon.is-active .line:nth-child(1),
#hamburger-icon.is-active .line:nth-child(3) {
  width: 38px;
}

#hamburger-icon.is-active .line:nth-child(2) {
  width: 43px;
  -webkit-transform: translateX(14px);
  -ms-transform: translateX(14px);
  -o-transform: translateX(14px);
  transform: translateX(14px);
}
#hamburger-icon.is-active .line:nth-child(1){
  -webkit-transform: translateX(10px) rotate(-45deg);
  -ms-transform: translateX(10px) rotate(-45deg);
  -o-transform: translateX(10px) rotate(-45deg);
  transform: translateX(10px) rotate(-45deg);
}

#hamburger-icon.is-active .line:nth-child(3){
  -webkit-transform: translateX(10px) rotate(45deg);
  -ms-transform: translateX(10px) rotate(45deg);
  -o-transform: translateX(10px) rotate(45deg);
  transform: translateX(10px) rotate(45deg);
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: rgb(89, 89, 89);
  overflow-x: hidden;
  padding-top: 60px;
  transition: all .5s ease-in-out;
}

.sidenav a {
  padding: 8px 8px 8px 12px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: block;
  transition: all .5s ease-in-out;
}

.sidenav a:hover, .offcanvas a:focus {
  color: rgb(255, 207, 13);
}

#main {
  transition: margin-left .5s;
  /*padding: 20px;*/
}

.open-nav {
  width: 200px;
}

.slide-main {
  margin-left: 200px;
}

@media screen and (max-width: 870px) {
  .recordboxestop, .recordboxesmiddle, .recordboxesbottom {
    flex-basis: 45%;
  }
  html {
    font-size: .9rem;
  }
  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 22px;
  }
  nav a {
    font-size: 17px;
  }
  .main-sections, .top {
    max-width: 85%;
  }
}

@media screen and (max-width: 600px) {
  .burger {
    position: relative;
  }

  .hamburger-icon {
    display: block;
    position: fixed;
  }

  nav {
    display: none;
  }

  .recordboxestop, .recordboxesmiddle, .recordboxesbottom {
    flex-basis: 95%;
  }
  html {
    font-size: .8rem;
  }
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 18px;
  }
  nav a {
    font-size: 14px;
    justify-content: center;
  }
  nav img {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
